@media (max-width: 768px) {
    .video {
      width: 100%;
      height: auto;
    }
    .grid-container {
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
          "primero "
          "segundo segundo"
          "tercero cuarto"
          "sexto"
          "quinto quinto";
    }
    .footerbar {
      flex-direction: column;
      align-items: center;
      text-align: center;
  
      .footerbar-img {
        margin-bottom: 1rem;
      }
  
      .footer-1, .footer-2 {
        margin-bottom: 1rem;
        width: 100%; 
      }
    }
  
    .footer-1 p, .footer-2 p {
      margin-bottom: 0.5rem;
    }
}  
@media (max-width: 480px) {
  .video {
    width: 100%;
    height: auto;
  }    
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-areas:
        "primero "
        "segundo"
        "tercero"
        "cuarto"
        "sexto"
        "quinto";
  }    
  .grid-item {
    text-align: center; 
  }
  .imagenes img {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 100%; 
      height: auto;  
  }
  .medida{
      @include medidas(auto, auto);  
      @include alineacion (flex, center, center);
      justify-content: center;
  }
  .footerbar {
    .footer-1, .footer-2 {
      font-size: 0.875rem; 
    }
    
    .footer-1 a, .footer-2 a {
      display: block;
      margin: 0.25rem 0; 
    }
  }
}